


<!-- Twitter Player Card-->
<meta name="twitter:image" content="https://nivenly.com/assets/logo/Nivenly_2.png" />
<meta name="twitter:card" content="player" />
<meta name="twitter:title" content="live in your face [urgent, time sensitive, official]" />
<meta name="twitter:player" content="https://player.twitch.tv/?channel=krisnova&html5&muted=true&quality=mobile&parent=twitter.com&parent=cards-frame.twitter.com&parent=cards-dev.twitter.com&parent=tweetdeck.twitter.com" />
<meta name="twitter:player:width" content="360" />
<meta name="twitter:player:height" content="200" />

<meta property="og:image" content="https://nivenly.com/assets/logo/Nivenly_2.png" />
<meta property="og:title" content="Official Kris Nóva Livestream!" />
<meta property="og:type" content="website" />
<meta property="og:url" content="/" />
<meta property="og:site_name" content="Nivenly.com" />


<meta name="twitter:description" content="Join, chat, and stream. Live now! Learn about techn, live coding, and hanging out."/>
<meta property="og:description" content="Join, chat, and stream. Live now! Learn about techn, live coding, and hanging out."/>
