{{ define "main" }}

<span class="content-large glow">
    <span class="color-alt glow">[</span>
    <span class="color-base glow">author</span>
    <span class="color-alt glow">]</span>
</span>

<span class="static-body">
<p>nóva answers questions from twitter about anything. each episode is 30ish minutes long, and she will answer a question.</p>
  <br>
<p>if you have a question, ask on twitter with the hashtag <a href="https://twitter.com/hashtag/N%C3%B3vaQuestions">#NóvaQuestions</a></p>
</span>

  <div class="posts">

    {{ range .Pages.Reverse }}
      <div class="post on-list">
        <span class="content-large"><a href="{{ .Permalink }}">{{ .Title | markdownify }}</a></span>

        {{ if .Params.tags }}
          <span class="post-tags">
            {{ range .Params.tags }}
              <a href="{{ (urlize (printf "tags/%s" . )) | absURL }}/">#{{ . }}</a>&nbsp;
            {{ end }}
          </span>
        {{ end }}

        {{ if .Params.Cover }}
          <figure class="post-cover">
         {{ if .Params.UseRelativeCover }}
            <img src="{{ (printf "%s%s" .Permalink .Params.Cover ) }}" alt="{{ .Params.CoverAlt | plainify | default .Title }}" />
          {{ else }}
            <img src="{{ .Params.Cover | absURL }}" alt="{{ .Params.CoverAlt | plainify | default .Title }}" />
            {{ end }}

            {{ if .Params.CoverCaption }}
              <figcaption class="center">{{ .Params.CoverCaption | markdownify }}</figcaption>
            {{ end }}
          </figure>
        {{ end }}

        <div class="content-medium">
          {{ with .Summary }}
            {{ . | markdownify }}
            {{ else }}
            {{ if .Truncated }}
              {{ .Summary }}
            {{ end }}
          {{ end }}
        </div>
      </div>
    {{ end }}
    {{ partial "pagination.html" . }}
  </div>
{{ end }}
