{{ define "main" }}
<div class="home">
    <div class="home-smile img">
        <img src="assets/img/logo.png" width="200" height="auto">
    </div>
    <div class="home-title glow">
        <span class="logo-host glow">[</span>
        <span class="logo-user glow">
                    kris nóva
        </span>
        <span class="logo-host glow">]</span>
        <div class="logo-host glow" style="font-size: 1.1rem; padding-top: 20px">
            professional grown-up business adult does important computer business
        </div>
        <div class="logo-user glow" style="font-size: 1.1rem">
            famous transgender queer cyber hacker
        </div>
        <div class="logo-host glow" style="font-size: 1.1rem">
            systemd, tambourine, and mountain enthusiast
        </div>
        <div class="logo-user glow" style="font-size: 1.1rem">
            international superfreak kubernetes slut
        </div>
    </div>

    <div class="home-body">
        <div class="static-cell">
            <div class="static-title">
                <span class="logo-punc">[</span>
                <span class="logo-user">
                    <a href="/lib" style="text-decoration: none">/lib</a>
                </span>
                <span class="logo-punc">]</span>
            </div>
            <span class="home-section-title">
                enjoy my <a href="/lib">famous articles</a>
            </span>
            <div class="home-section">
                computer programming, hardware, freebsd<br>
                transgender, queer, trauma, family issues<br>
                kubernetes, hacking, capitalism<br>
            </div>
        </div>


        <div class="static-cell">
            <div class="static-title">
                <span class="logo-punc">[</span>
                <span class="logo-user">
                    <a href="/live" style="text-decoration: none">/live</a>
                </span>
                <span class="logo-punc">]</span>
            </div>
            <span class="home-section-title">
               join <a href="/live">live</a> on twitch
            </span>
            <div class="home-section">
                proud twitch mom of <a href="/contrib">world's best mods</a><br>
                live streams, beautiful people<br>
                computers, home lab, hardware, arch linux<br>
                live in pacific time, follow on <a href="https://twitter.com/krisnova">twitter</a> for updates<br>
            </div>
        </div>


        <div class="static-cell">
            <div class="static-title">
                <span class="logo-punc">[</span>
                <span class="logo-user">
                <a href="/readme" style="text-decoration: none">/readme</a>
            </span>
                <span class="logo-punc">]</span>
            </div>
            <span class="home-section-title">
            read my <a href="/readme">story</a>
        </span>
            <div class="home-section">
                public speaking, international business<br>
                cyber adventures, important open source person<br>
                aline climbing, inspirational story<br>
            </div>
        </div>

        <div class="static-cell">
            <div class="static-title">
                <span class="logo-punc">[</span>
                <span class="logo-user">
                    <a href="/src" style="text-decoration: none">/src</a>
                </span>
                <span class="logo-punc">]</span>
            </div>
            <span class="home-section-title">
                <a href="/src">open source</a> computer projects
            </span>
            <div class="home-section">
                cloud infrastructure, linux, kubernetes, security<br>
                go, c, c++, bash, rust, eBPF<br>
                networking, baremetal, hardware, firmware<br>
            </div>
        </div>


    </div>
</div>
{{ end }}