{{ define "main" }}
{{ $isntDefault := not (or (eq (trim $.Site.Params.contentTypeName " ") "posts") (eq (trim $.Site.Params.contentTypeName " ") "")) }}
{{ $contentTypeName := cond $isntDefault (string $.Site.Params.contentTypeName) "posts" }}

{{ $PageContext := . }}
    {{ if .IsHome }}
        {{ $PageContext = .Site }}
    {{ end }}


<div class="home">
    <div class="home-title">
        {{ $.Site.Params.Home.title }}
    </div>
    <div class="home-smile img">
        <img src="img/logo.png" width="200" height="190">
    </div>
    <div class="home-content">
        {{ $.Site.Params.Home.content }}
    </div>

    {{ partial "nova.html" . }}

</div>


{{ end }}

