{{ define "main" }}


<span class="live-title">
    <span class="logo-punc">[</span>
    <span class="logo-user">live in your face</span>
    <span class="logo-punc">]</span>
</span>

<span class="live-title">
    <span class="logo-user" style="font-size: 1.25rem"><a href="https://twitch.tv/krisnova" style="text-decoration: none">twitch.tv/krisnova</a></span>
</span>


<span class="static-body">
    <p>
cute linux hacker with a nice rack. kubernetes, security, linux, go, rust, c/c++. very serious.
    </p>
</span>

<div id="twitch-embed" class="twitch">
    <script src="https://embed.twitch.tv/embed/v1.js"></script>
    <script type="text/javascript">
        var embed = new Twitch.Embed("twitch-embed", {
            width: 720,
            height: 405,
            channel: "krisnova",
            layout: "video",
            autoplay: false,
            parent: ["nivenly.com", "nivenly.com"]
        });

        embed.addEventListener(Twitch.Embed.VIDEO_READY, () => {
            var player = embed.getPlayer();
            player.play();
        });
    </script>
</div>
{{ end }}
