/* FONTS */
@font-face {
    font-family: Nova-Alt1;
    src: url('fonts/3270.ttf') format('truetype');
}

@font-face {
    font-family: Nova;
    src: url('fonts/TerminusModern.ttf') format('truetype');
}

@font-face {
    font-family: Nova;
    src: url('fonts/TerminusModern.ttf') format('truetype');
}


/* COLORS */
.color-base {
    color: #6f88a2;
}

.color-alt {
    color: #619d87;
}

.color-highlight {
    color: #96c3f1;
}

.color-bg-light {
    color: #1A1616;
}

.color-bg-med {
    color: #222222;
}

.color-bg-dark {
    color: #000000;
}

body.nova {
    --background: #1A1616;
    --background-secondary: #1A1616;
    --header: #1A1616;
    --color: #dfe9f6;
    --color-secondary: #000000;
    --border-color: #4a4b50;
}

/* :root is "body.light-them" */
:root {
    --background: #1A1616;
    --background-secondary: #1A1616;
    --header: #1A1616;
    --color: #96c3f1;
    --color-secondary: #222222;
    --border-color: #dcdcdc;
    --phoneWidth: (max-width:684px);
    --tabletWidth: (max-width:900px)
}


/* MAIN */
.container,
.content {
    display: flex;
    justify-content: center
}

.content {
    font-family: Nova, Nova-Alt1;
    color: #96c3f1;
    flex-direction: column;
    flex: 1 auto;
    align-items: center;
    margin: 50px 0
}

@media (max-width:683px) {
    .content {
        margin-top: 0
    }
    .flex-row {
        flex-direction: column;
    }
}

.content-large {
    font-family: Nova;
    font-size: 1.7rem;
}

.content-paragraph {
    font-family: Nova;
    font-size: 1.0rem;
}

.content-medium {
    font-family: Nova;
    font-size: 1.25rem;
}

/* SIDE */
.side {
    background: #1a1616;
    font-family: Nova, Nova-Alt1;
    font-size: 1.125rem;
    flex: 0 0 300px;
}
.side > table {
    width: 100%;
}

@media (max-width:683px) {
    .main {
        margin-top: 0
    }
    .flex-row {
        flex-direction: column;
    }
}

.side-large {
    background-color: #222222;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1.2em;
    color: #96c3f1;
    border-bottom: 1px #96c3f1 solid;
}

.side-paragraph {
    text-align: left;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: Nova;
    font-size: 1.0rem;
    border-bottom: 1px #4a4b50 dotted;
}

.side-medium {
    font-family: Nova;
    font-size: 1.25rem;
}


/* ATTRIBUTES */
.glow {
    text-shadow: #ffffff 0px 0px 8px;
}

a:link {
    text-decoration-style: solid;
    text-decoration: none;
    text-shadow: #ffffff 0px 0px 8px;

}

.inline-svg {
    display: inline-block;
    height: 1.15rem;
    width: 1.15rem;
    top: 0.15rem;
    position: relative;
}

.menu-icon {
    padding: 5px;
    justify-content: center;
    line-height: 1;
    cursor: pointer
}


/* TOGGLE */
.toggle-contrast {
 /* ID for Javascript */
}

.toggle-sidebar {
    /* ID for Javascript */
}

