.nova {
    font-family: Nova, Nova-Alt1;
    width: 100%;
    max-width: 800px;
    text-align: center;
    padding: 20px;
    margin: 20px auto
}

.nova-container {
    text-align: center;
    font-family: Nova;
    display: table;
    font-size: 1.5rem;
}

.nova-container-left {
    width: 300px;
    float: left;
    justify-content: left;
    text-align: left;
    display: table-column;
}


.nova-container-right {
    float: right;
    justify-content: right;
    text-align: right;
    display: table-column;
}

.nova-container-title {
    font-size: 2.1rem;
    display: table-row;
    text-align: center;
    width: auto;
    color: #6f88a2
}

.nova-container-row {
    justify-content: center;
    text-align: center;
    clear: both;
    display: table-row;
    width: 800px;
}

.nova-key {
    width: 100px;
    float: left;
    justify-content: left;
    text-align: left;
    display: table-column;
    color: #619d87;
    font-size: 2rem;
}

.nova-value {
    margin-top: 8px;
    float: left;
    justify-content: right;
    text-align: right;
    display: table-column;
    color: #65a1d4;
}


<div class="nova">
<div class="nova-container-row">
<span class="nova-container-left">
<div class="nova-container">
<div class="nova-container-row">
<div class="nova-container-left">
<div class="nova-container-title">kubernetes</div>
<div class="nova-container-row">
<span class="nova-key">alice</span><span class="nova-value glow">{{ partial "nova/kubernetes.alice.nova" . }}</span>
</div>
<div class="nova-container-row">
<span class="nova-key">yakko</span><span class="nova-value glow">{{ partial "nova/kubernetes.yakko.nova" . }}</span>
</div>
<div class="nova-container-row">
<span class="nova-key">wakko</span><span class="nova-value glow">{{ partial "nova/kubernetes.wakko.nova" . }}</span>
</div>
<div class="nova-container-row">
<span class="nova-key">dot</span><span class="nova-value glow">{{ partial "nova/kubernetes.dot.nova" . }}</span>
</div>
</div>
</div>
</div>
</span>
<span class="nova-container-right">
<div class="nova-container">
<div class="nova-container-row">
<div class="nova-container-left">
<div class="nova-container-title">systemd</div>
<div class="nova-container-row">
<span class="nova-key">alice</span><span class="nova-value glow">{{ partial "nova/kubernetes.alice.nova" . }}</span>
</div>
<div class="nova-container-row">
<span class="nova-key">yakko</span><span class="nova-value glow">{{ partial "nova/kubernetes.yakko.nova" . }}</span>
</div>
<div class="nova-container-row">
<span class="nova-key">wakko</span><span class="nova-value glow">{{ partial "nova/kubernetes.wakko.nova" . }}</span>
</div>
<div class="nova-container-row">
<span class="nova-key">dot</span><span class="nova-value glow">{{ partial "nova/kubernetes.dot.nova" . }}</span>
</div>
</div>
</div>
</div>
</span>
</div>
</div>

