<footer class="footer">
    <!---->

  <div class="content-paragraph" style="text-align: center">
      <div style="padding-bottom: 10px">© {{ $.Site.Copyright | safeHTML }}</div>
      <div class="color-footer-body" style="text-decoration: none">
        Nivenly.com and its related assets, tools, and API endpoints are provided for
        convenience and educational purposes only.
      </div>
      <div class="color-footer-body" style="text-decoration: none">
          The website's source code and its Apache2 license is hosted
        online at <a style="text-decoration: none" href="https://github.com/kris-nova/nivenly.com">github.com/kris-nova/nivenly.com</a>.
      </div>
      <div class="color-footer-body" style="text-decoration: none">
        By using this website you agree to never use these tools for any illegal or malicious activity, and to adhere to ethical and responsible disclosure and practice.
        The owner and operator of this website accepts no responsibility for the usage of these tools in any way.
      </div>
      <div class="color-footer-body" style="text-decoration: none">
          These tools should not be used by anyone.
      </div>
  </div>
</footer>

