<div class="nova">
    <div class="nova-dashboard">
        <div class="nova-dashboard-row">
            <div class="nova-dashboard-col">
                <div class="nova-title">
                    left title
                </div>
            </div>
            <div class="nova-dashboard-col">
                <div class="nova-title">
                    center title
                </div>
            </div>
            <div class="nova-dashboard-col">
                <div class="nova-title">
                    right title
                </div>
            </div>
        </div>
    </div>
</div>