<header class="header glow">

  <span class="header__inner">
    {{ partial "logo.html" . }}
    <span class="header__right">
      {{ if len $.Site.Menus }}
        {{ partial "menu.html" . }}
      {{ end }}

      <!-- Sidebar Adjust -->
      <span class="toggle-sidebar menu-icon">
        {{ partial "fa.html" "signal" }}
      </span>

      <!-- Contrast Adjust -->
      <span class="toggle-contrast menu-icon menu-desktop">
        {{ partial "fa.html" "adjust" }}
      </span>

      <!-- Mobile Menu Adjust -->
      <span class="toggle-mobile-menu menu-icon">
        {{ partial "fa.html" "bars" }}
      </span>

      <!-- Discord -->
      <a href="https://discord.gg/pMtuhDJ54a" target="_blank" rel="noopener noreferrer" class="menu-icon">
        {{ partial "fa.html" "discord" }}
      </a>

      <!-- Twitter -->
      <a href="https://twitter.com/krisnova" target="_blank" rel="noopener noreferrer" class="menu-icon">
        {{ partial "fa.html" "twitter" }}
      </a>

      <!-- Nivenly.com -->
      <a href="https://github.com/kris-nova/nivenly.com" target="_blank" rel="noopener noreferrer" class="menu-icon">
        {{ partial "fa.html" "github" }}
      </a>

    </span>
  </span>
</header>

<script>
  <!-- Toggle Contrast -->
  const getTheme = window.localStorage && window.localStorage.getItem("theme");
  const themeToggle = document.querySelector(".toggle-contrast");
  const isDark = getTheme === "dark";

  if (getTheme !== null) {
    document.body.classList.toggle("dark-theme", isDark);
  }

  themeToggle.addEventListener("click", () => {
    document.body.classList.toggle("dark-theme");
    window.localStorage &&
    window.localStorage.setItem(
            "theme",
            document.body.classList.contains("dark-theme") ? "dark" : "light",
    );
  });

  <!-- Toggle Mobile Menu -->
  const getMobileMenu = window.localStorage && window.localStorage.getItem("mobileMenu");
  const mobileMenuToggle = document.querySelector(".toggle-mobile-menu");
  const menu = document.getElementById('mobile-menu');
  const isMenu = getMobileMenu === "true";

  if (getMobileMenu !== null) {
    menu.classList.toggle("hidden", isMenu);
  }

  mobileMenuToggle.addEventListener("click", () => {
    menu.classList.toggle("hidden");
    window.localStorage &&
    window.localStorage.setItem(
            "mobileMenu",
            menu.classList.contains("hidden") ? "true" : "false",
    );
  });

  function toggleMobileMenu() {
    var toggleMobileMenu = document.getElementById('mobile-menu');

    if(menu.classList.contains('hidden')) {
      document.getElementById('mobile-menu').classList.remove('hidden');
    } else {
      document.getElementById('mobile-menu').classList.add('hidden');
    }
  }
</script>
