


<!-- Twitter Player Card-->
<meta name="twitter:image" content="https://nivenly.com/assets/img/logo.png" />
<meta name="twitter:card" content="player" />
<meta name="twitter:title" content="live in your face [urgent, time sensitive, official]" />
<meta name="twitter:player" content="https://player.twitch.tv/?channel=krisnova&html5&muted=true&quality=mobile&parent=twitter.com&parent=cards-frame.twitter.com&parent=cards-dev.twitter.com&parent=tweetdeck.twitter.com" />
<meta name="twitter:player:width" content="360" />
<meta name="twitter:player:height" content="200" />

<meta property="og:image" content="https://nivenly.com/assets/img/logo.png" />
<meta property="og:title" content="live in your face [urgent, time sensitive, official]" />
<meta property="og:type" content="website" />
<meta property="og:url" content="/" /><meta property="og:site_name" content="nivenly.com" />


<meta name="twitter:description" content="cute linux hacker with a nice rack. kubernetes, security, linux, go, rust, c/c++. very serious."/>
<meta property="og:description" content="cute linux hacker with a nice rack. kubernetes, security, linux, go, rust, c/c++. very serious."/>
