


<!-- Twitter Summary Card -->
<meta name="twitter:image" content="https://nivenly.com/assets/logo/Nivenly_2.png"/>
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="nivenly.com"/>
<meta name="twitter:creator" content="@krisnova">
<meta name="twitter:site" content="@krisnova">

<meta property="og:image" content="https://nivenly.com/assets/logo/Nivenly_2.png" />
<meta property="og:title" content="nivenly.com" />
<meta property="og:type" content="website" />
<meta property="og:url" content="/" /><meta property="og:site_name" content="nivenly.com" />

{{ if .IsHome }}
<meta name="twitter:title" content="official @krisnóva website [genuine, approved, legitimate]"/>
<meta name="twitter:description" content="1' and 1=1;- - {{ $.Site.Params.Description }}" />
<meta property="og:description" content="1' and 1=1;- -{{ $.Site.Params.Description }}" />
<meta property="og:title" content="official @krisnóva website [genuine, approved, legitimate]" />
{{ else }}
<meta name="twitter:title" content="{{ .Title | plainify }}"/>
<meta name="twitter:description" content="{{ .Summary | plainify }}"/>
<meta property="og:description" content="{{ with .Params.Keywords }}{{ delimit . ", " }}{{ else }}{{ $.Site.Params.Keywords }}{{ end }}"/>
<meta property="og:title" content="{{ .Title | plainify }}" />
{{ end }}