<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

{{- partial "head_meta.html" . }}

<!--Title-->
{{ block "title" . }}
<title>
    {{ if .IsHome }}
    {{ $.Site.Title }}{{ with $.Site.Params.Subtitle }} — {{ . }}{{ end }}
    {{ else }}
    {{ $.Site.Title }}{{ with $.Site.Params.Subtitle }} — {{ . }}{{ end }}
    {{ end }}
</title>
{{ end }}

<meta name="robots" content="noodp" />
<link rel="canonical" href="{{ .Permalink }}" />

<!-- Theme CSS -->
<link rel="stylesheet" href="{{ "/brand/nova.css" | absURL }}" />

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{ $.Site.Params.GoogleAnalyticsID }}"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', '{{ $.Site.Params.GoogleAnalyticsID }}');
</script>

<!-- Icons -->
<link rel="shortcut icon" href="{{ "favicon.ico" | absURL }}" />

{{ if .IsHome  }}
  {{- partial "head_meta_twitter_large.html" . }}
{{ else if eq .Page.File.Path "/live/" }}
  {{- partial "head_meta_twitter_live.html" . }}
{{ else if in .Page.File.Path "/questions/" }}
  {{- partial "head_meta_twitter_live.html" . }}
{{ else }}
  {{- partial "head_meta_twitter.html" . }}
{{ end }}


<!-- RSS | JSON -->
{{ range .AlternativeOutputFormats -}}
  {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .RelPermalink $.Site.Title | safeHTML }}
{{ end -}}
