<header class="header glow">

  <span class="header__inner">
    {{ partial "logo.html" . }}
    <span class="header__right">
      {{ if len $.Site.Menus }}
        {{ partial "menu.html" . }}
      {{ end }}

      <!-- Contrast Adjust -->
      <span class="toggle-contrast menu-icon">
        {{ partial "fa.html" "adjust" }}
      </span>

      <!-- Sidebar Adjust -->
      <span class="toggle-sidebar menu-icon">
        {{ partial "fa.html" "signal" }}
      </span>

      <!-- Twitter -->
      <a href="https://twitter.com/krisnova" target="_blank" rel="noopener noreferrer" class="menu-icon">
        {{ partial "fa.html" "twitter" }}
      </a>

      <!-- Nivenly.com -->
      <a href="https://github.com/kris-nova/nivenly.com" target="_blank" rel="noopener noreferrer" class="menu-icon">
        {{ partial "fa.html" "github" }}
      </a>

    </span>
  </span>
</header>

<script>
  const getTheme = window.localStorage && window.localStorage.getItem("theme");
  const themeToggle = document.querySelector(".toggle-contrast");
  const isDark = getTheme === "dark";

  if (getTheme !== null) {
    document.body.classList.toggle("dark-theme", isDark);
  }

  themeToggle.addEventListener("click", () => {
    document.body.classList.toggle("dark-theme");
    window.localStorage &&
    window.localStorage.setItem(
            "theme",
            document.body.classList.contains("dark-theme") ? "dark" : "light",
    );
  });
</script>
