<a
  href="{{ if $.Site.Params.Logo.LogoHomeLink }}{{ $.Site.Params.Logo.LogoHomeLink }}{{ else }}{{ $.Site.BaseURL }}{{ end }}"
  class="logo"
>
    <span class="logo__punc">[</span>
    <span class="logo__user">{{ $.Site.Params.Logo.logoUser }}</span>
    <span class="logo__punc">@</span>
    <span class="logo__host">{{ $.Site.Params.Logo.logoHost }}</span>
    <span class="logo__punc">]: </span>

    {{ if .File.BaseFileName }}
    <span class="logo__host">  ~/{{ .File.BaseFileName }}</span>
    {{ else }}
    <span class="logo__host">  ~</span>
    {{ end }}
    <span class="logo__punc">></span><span class="logo__user">$</span>
  <span class="logo__cursor"></span>
</a>
