<span class="logo glow">
    <a href="/" class="logo" style="text-decoration: none">
    <span class="logo-punc">[</span>
    <span class="logo-user">{{ $.Site.Params.Logo.logoUser }}</span>
    <span class="logo-punc">@</span>
    <span class="logo-host">{{ $.Site.Params.Logo.logoHost }}</span>
    <span class="logo-punc">]: </span>
    </a>
    {{ if .File.BaseFileName }}
    <span class="logo-host">  ~/{{ .File.BaseFileName }}</span>
    {{ else }}
    <span class="logo-host">  ~</span>
    {{ end }}
    <span class="logo-punc">></span><span class="logo-user">$</span>
  <span class="logo-cursor"></span>
</span>
