<a
  href="{{ if $.Site.Params.Logo.LogoHomeLink }}{{ $.Site.Params.Logo.LogoHomeLink }}{{ else }}{{ $.Site.BaseURL }}{{ end }}"
  class="logo glow"
>
    <span class="logo-punc">[</span>
    <span class="logo-user">{{ $.Site.Params.Logo.logoUser }}</span>
    <span class="logo-punc">@</span>
    <span class="logo-host">{{ $.Site.Params.Logo.logoHost }}</span>
    <span class="logo-punc">]: </span>

    {{ if .File.BaseFileName }}
    <span class="logo-host">  ~/{{ .File.BaseFileName }}</span>
    {{ else }}
    <span class="logo-host">  ~</span>
    {{ end }}
    <span class="logo-punc">></span><span class="logo-user">$</span>
  <span class="logo-cursor"></span>
</a>
