<div class="glow">
    Computer scientist, alpinist, author, public speaker and transgender advocate best known for her work on Linux and Kubernetes.
    <a href="/bio" class="logo-user glow">Read More...</a>
</div>


<div class="main-logo img">
    <a href="/bio">
        <img src="assets/logo/nivenly-resized.png" width="200" height="auto" style="padding-bottom: 20px">
        <span class="logo-host glow" style="font-size: 1.3rem">[</span>
        <span class="logo-user glow" style="font-size: 1.3rem">kris nóva</span>
        <span class="logo-host glow" style="font-size: 1.3rem">]</span>
    </a>
</div>


<div class="glow">

    <div class="logo-host glow" style="font-size: 1.1rem; padding-top: 20px">
        professional grown-up business adult does important computer science
    </div>
    <div class="logo-user glow" style="font-size: 1.1rem">
        famous transgender queer cyber hacker understands linux
    </div>
    <div class="logo-host glow" style="font-size: 1.1rem">
        wealthy author does great at capitalism and has profound thoughts
    </div>
    <div class="logo-user glow" style="font-size: 1.1rem">
        international superfreak kubernetes harlot trades favors for large sums of money
    </div>
</div>
