<div class="main-logo img">
    <img src="assets/logo/Nivenly_2.png" width="300" height="auto">
</div>

<div class="glow" style="padding-top: 20px">
    <span class="logo-host glow" style="font-size: 1.3rem">[</span>
    <span class="logo-user glow" style="font-size: 1.3rem">kris nóva</span>
    <span class="logo-host glow" style="font-size: 1.3rem">]</span>
    <div class="logo-host glow" style="font-size: 1.1rem; padding-top: 20px">
        professional grown-up business adult does important computer science
    </div>
    <div class="logo-user glow" style="font-size: 1.1rem">
        famous transgender queer cyber hacker understands linux
    </div>
    <div class="logo-host glow" style="font-size: 1.1rem">
        wealthy author does great at capitalism and has profound thoughts
    </div>
    <div class="logo-user glow" style="font-size: 1.1rem">
        international superfreak kubernetes harlot exchanges shameful favors for large sums of money
    </div>
</div>