
<div class="nova">




    <div class="nova-cell">

    <div class="nova-left">
        <div class="nova-cell-title">kubernetes</div>
        <div class="nova-row-left">
            <span class="nova-key">alice: </span>
            <span class="nova-value glow">{{ partial "nova/kubernetes.alice.nova" . }}</span>
        </div>
        <div class="nova-row-left">
            <span class="nova-key">yakko: </span>
            <span class="nova-value glow">{{ partial "nova/kubernetes.yakko.nova" . }}</span>
        </div>
        <div class="nova-row-left">
            <span class="nova-key">wakko: </span>
            <span class="nova-value glow">{{ partial "nova/kubernetes.wakko.nova" . }}</span>
        </div>
        <div class="nova-row-left">
            <span class="nova-key">dot: </span>
            <span class="nova-value glow">{{ partial "nova/kubernetes.dot.nova" . }}</span>
        </div>  </div>
    <div class="nova-right">
        <div class="nova-cell-title">kubernetes</div>
        <div class="nova-row-right">
            <span class="nova-key">alice: </span>
            <span class="nova-value glow">{{ partial "nova/kubernetes.alice.nova" . }}</span>
        </div>
        <div class="nova-row-right">
            <span class="nova-key">yakko: </span>
            <span class="nova-value glow">{{ partial "nova/kubernetes.yakko.nova" . }}</span>
        </div>
        <div class="nova-row-right">
            <span class="nova-key">wakko: </span>
            <span class="nova-value glow">{{ partial "nova/kubernetes.wakko.nova" . }}</span>
        </div>
        <div class="nova-row-right">
            <span class="nova-key">dot: </span>
            <span class="nova-value glow">{{ partial "nova/kubernetes.dot.nova" . }}</span>
        </div>
    </div>

    </div>
    <!-- --------- [ Kubernetes ] --------- -->
</div>