<!--Nóva-->
<div class="side" id="magicSidebarLeft" style="border-right: #96c3f1 1px solid">

    <!-- About Me -->
    <div class="side-large">
        <span class="color-highlight">[</span><span class="color-alt"> about me </span><span class="color-highlight">]</span>
    </div>

    <!-- /readme -->
    <div class="side-paragraph">
        <a href="/readme">
            <span class="color-highlight glow">{{ partial "fa.html" "terminal" }}</span>
            <span class="color-alt glow">/readme</span>
        </a>
    </div>

    <!-- Twitter -->
    <div class="side-paragraph">
        <a href="https://twitter.com/krisnova" target="_blank" rel="noopener noreferrer">
            <span class="color-highlight glow">{{ partial "fa.html" "twitter" }}</span>
            <span class="color-alt glow">follow on twitter</span>
        </a>
    </div>

    <!-- Twitch -->
    <div class="side-paragraph">
        <a href="https://twitch.tv/krisnova" target="_blank" rel="noopener noreferrer">
            <span class="color-highlight glow">{{ partial "fa.html" "twitch" }}</span>
            <span class="color-alt glow">live on twitch</span>
        </a>
    </div>

    <!-- GitHub -->
    <div class="side-paragraph">
        <a href="https://github.com/kris-nova" target="_blank" rel="noopener noreferrer">
            <span class="color-highlight glow">{{ partial "fa.html" "github" }}</span>
            <span class="color-alt glow">code on github</span>
        </a>
    </div>

    <!-- YouTube -->
    <div class="side-paragraph">
        <a href="https://www.youtube.com/channel/UCRvH2UexTzcbZRwCS6OxJ3w" target="_blank" rel="noopener noreferrer">
            <span class="color-highlight glow">{{ partial "fa.html" "youtube" }}</span>
            <span class="color-alt glow">recordings on youtube</span>
        </a>
    </div>

    <!-- Book-->
    <div class="side-paragraph">
        <a href="/author">
            <span class="color-highlight glow">{{ partial "fa.html" "book" }}</span>
            <span class="color-alt glow">cloud native infrastructure</span>
        </a>
    </div>

    <!-- Email -->
    <div class="side-paragraph" style="border-bottom: 1px #96c3f1 solid;">
        <a href="mailto:kris@nivenly.com" target="_blank" rel="noopener noreferrer">
            <span class="color-highlight glow">{{ partial "fa.html" "envelope" }}</span>
            <span class="color-alt glow">kris@nivenly.com</span>
        </a>
    </div>

    <!-- About You -->
    <div class="side-large">
        <span class="color-highlight">[</span><span class="color-alt"> about you </span><span class="color-highlight">]</span>
    </div>

    <!-- /client -->
    <div class="side-paragraph">
        <a href="/client">
            <span class="color-highlight glow">{{ partial "fa.html" "terminal" }}</span>
            <span class="color-alt glow">/client</span>
        </a>
    </div>

    <!-- Client Addr -->
    <div class="side-paragraph">
        <a href="/client">
            <span class="color-highlight glow">{{ partial "fa.html" "network-wired" }}</span>
            <span class="color-alt glow">{{ $.Site.Params.RemoteAddress }}</span>
        </a>
    </div>

    <!-- HTTP -->
    <div class="side-paragraph">
        <a href="/client">
            <span class="color-highlight glow">{{ partial "fa.html" "cloud" }}</span>
            <span class="color-alt glow">{{ $.Site.Params.RequestString }}</span>
        </a>
    </div>

    <!-- AboutYouString -->
    <div class="side-paragraph">
        <a href="/client">
            <span class="color-highlight glow">{{ partial "fa.html" "server" }}</span>
            <span class="color-alt glow">{{ $.Site.Params.AboutYouString }}</span>
        </a>
    </div>


</div>


<script>
    const getSidebarL = window.localStorage && window.localStorage.getItem("toggleL");
    const sidebarToggleL = document.querySelector(".toggle-sidebar");
    const toggleL = document.getElementById('magicSidebarLeft');
    const isSidebarL = getSidebarL === "true";

    if (getSidebarL !== null) {
        toggleL.classList.toggle("hidden", isSidebarL);
    }

    sidebarToggleL.addEventListener("click", () => {
        toggleL.classList.toggle("hidden");
        window.localStorage &&
        window.localStorage.setItem(
            "toggleL",
            toggleL.classList.contains("hidden") ? "true" : "false",
        );
    });

    function toggleSidebarLeft() {
        var toggleLeft = document.getElementById('magicSidebarLeft');

        if(toggleLeft.classList.contains('hidden')) {
            document.getElementById('magicSidebarLeft').classList.remove('hidden');
        } else {
            document.getElementById('magicSidebarLeft').classList.add('hidden');
        }
    }
</script>
<!--Nóva-->
