<script>
    function toggleSidebarLeft() {
        var toggleLeft = document.getElementById('magicSidebarLeft');

        if(toggleLeft.classList.contains('hidden')) {
            document.getElementById('magicSidebarLeft').classList.remove('hidden');
        } else {
            document.getElementById('magicSidebarLeft').classList.add('hidden');
        }
    }
</script>
<div class="sidebar-left" id="magicSidebarLeft">
        <div class="sidebar-title glow">
            <span class="logo-punc glow">[</span>
            <span class="logo-user glow">whoami</span>
            <span class="logo-punc glow">]</span>
        </div>
        <div class="sidebar-section">
            <div class="sidebar-link-row">
                <span class="sidebar-icon">
                    <a href="https://twitch.tv/krisnova" target="_blank" class="sidebar-icon">{{ partial "fa.html" "twitch" }}</a>
                </span>
                <span class="sidebar-text">@krisnova</span>
            </div>
            <div class="sidebar-link-row">
                <span class="sidebar-icon">
                    <a href="https://github.com/kris-nova" target="_blank" class="sidebar-icon">{{ partial "fa.html" "github" }}</a>
                </span>
                <span class="sidebar-text">@kris-nova</span>
            </div>
            <div class="sidebar-link-row">
                <span class="sidebar-icon">
                    <a href="https://twitter.com/krisnova" target="_blank" class="sidebar-icon">{{ partial "fa.html" "twitter" }}</a>
                </span>
                <span class="sidebar-text">@krisnova</span>
            </div>
            <div class="sidebar-link-row">
                <span class="sidebar-icon">
                    <a href="https://twitter.com/thenovadiary" target="_blank" class="sidebar-icon">{{ partial "fa.html" "twitter" }}</a>
                </span>
                <span class="sidebar-text">@thenovadiary</span>
            </div>
            <div class="sidebar-link-row">
                <span class="sidebar-icon">
                    <a href="mailto:kris@nivenly.com" target="_blank" class="sidebar-icon">{{ partial "fa.html" "envelope" }}</a>
                </span>
                <span class="sidebar-text">kris@nivenly.com</span>
            </div>
        </div>
    <div class="sidebar-title glow">
        <span class="logo-punc glow">[</span>
        <span class="logo-user glow">projects</span>
        <span class="logo-punc glow">]</span>
    </div>
    <div class="sidebar-section">
        <div class="sidebar-link-row">
                <span class="sidebar-icon">
                    <a href="http://cnibook.info" target="_blank" class="sidebar-icon">{{ partial "fa.html" "book" }}</a>
                </span>
            <span class="sidebar-text">buy my book</span>
        </div>
        <div class="sidebar-link-row">
                <span class="sidebar-icon">
                    <a href="https://photos.nivenly.com" target="_blank" class="sidebar-icon">{{ partial "fa.html" "server" }}</a>
                </span>
            <span class="sidebar-text">photo storage</span>
        </div>
        <div class="sidebar-link-row">
                <span class="sidebar-icon">
                    <a href="https://photos.nivenly.com" target="_blank" class="sidebar-icon">{{ partial "fa.html" "images" }}</a>
                </span>
            <span class="sidebar-text">photography</span>
        </div>
        </div>
</div>