<!--Nóva-->
<div class="side side-border-left" id="magicSidebarRight">

    <!-- Featured -->
    <div class="side-large">
        <span class="color-highlight">[</span><span class="color-alt"> featured </span><span class="color-highlight">]</span>
    </div>

    <!-- klustered -->
    <div class="side-paragraph">
        <a href="/lib/2021-05-03-klustered/">
            <span class="color-highlight glow">{{ partial "fa.html" "youtube" }}</span>
            <span class="color-alt glow">hacking kubernetes writeup</span>
        </a>
    </div>

    <!-- DOSI -->
    <div class="side-paragraph">
        <a href="/lib/2021-04-02-operating-system-interface/">
            <span class="color-highlight glow">{{ partial "fa.html" "cogs" }}</span>
            <span class="color-alt glow">operating system void</span>
        </a>
    </div>

    <!-- clusterfuck -->
    <div class="side-paragraph">
        <a href="/lib/2021-04-05-clusterfuck/">
            <span class="color-highlight glow">{{ partial "fa.html" "hand-middle-finger" }}</span>
            <span class="color-alt glow">fosdem clusterfuck talk(s)</span>
        </a>
    </div>

    <!-- about me -->
    <div class="side-paragraph">
        <a href="/lib/2021-05-12-ardanlabs/">
            <span class="color-highlight glow">{{ partial "fa.html" "youtube" }}</span>
            <span class="color-alt glow">video interview (my open source story)</span>
        </a>
    </div>

    <!-- outstanding tech talk -->
    <div class="side-paragraph" style="border-bottom: 1px #96c3f1 solid;">
        <a href="/crafting-an-outstanding-technical-talk">
            <span class="color-highlight glow">{{ partial "fa.html" "pencil-alt" }}</span>
            <span class="color-alt glow">crafting an outstanding tech talk</span>
        </a>
    </div>

    <!-- projects -->
    <div class="side-large">
        <span class="color-highlight">[</span><span class="color-alt"> projects </span><span class="color-highlight">]</span>
    </div>

    <!-- hack -->
    <div class="side-paragraph">
        <a href="https://github.com/kris-nova/hack" target="_blank" rel="noopener noreferrer">
            <span class="color-highlight glow">{{ partial "fa.html" "book-dead" }}</span>
            <span class="color-alt glow">kubernetes pen testing tools</span>
        </a>
    </div>

    <!-- dname -->
    <div class="side-paragraph">
        <a href="https://github.com/the-naming-project/the-naming-project" target="_blank" rel="noopener noreferrer">
            <span class="color-highlight glow">{{ partial "fa.html" "pencil-alt" }}</span>
            <span class="color-alt glow">the naming project</span>
        </a>
    </div>

    <!-- novix -->
    <div class="side-paragraph">
        <a href="https://github.com/kris-nova/novix" target="_blank" rel="noopener noreferrer">
            <span class="color-highlight glow">{{ partial "fa.html" "linux" }}</span>
            <span class="color-alt glow">novix operating system</span>
        </a>
    </div>

    <!-- cosi -->
    <div class="side-paragraph">
        <a href="https://github.com/cosi-project/community" target="_blank" rel="noopener noreferrer">
            <span class="color-highlight glow">{{ partial "fa.html" "github" }}</span>
            <span class="color-alt glow">COSI project</span>
        </a>
    </div>

    <!-- kubicorn -->
    <div class="side-paragraph">
        <a href="https://github.com/kubicorn/kubicorn" target="_blank" rel="noopener noreferrer">
            <span class="color-highlight glow">{{ partial "fa.html" "github" }}</span>
            <span class="color-alt glow">kubicorn</span>
        </a>
    </div>


</div>
<script>
    const getSidebarR = window.localStorage && window.localStorage.getItem("toggleR");
    const sidebarToggleR = document.querySelector(".toggle-sidebar");
    const toggleR = document.getElementById('magicSidebarRight');
    const isSidebarR = getSidebarR === "true";

    if (getSidebarR !== null) {
        toggleR.classList.toggle("hidden", isSidebarR);
    }

    sidebarToggleR.addEventListener("click", () => {
        toggleR.classList.toggle("hidden");
        window.localStorage &&
        window.localStorage.setItem(
            "toggleR",
            toggleR.classList.contains("hidden") ? "true" : "false",
        );
    });

    function toggleSidebarLeft() {
        var toggleLeft = document.getElementById('magicSidebarLeft');

        if(toggleLeft.classList.contains('hidden')) {
            document.getElementById('magicSidebarRight').classList.remove('hidden');
        } else {
            document.getElementById('magicSidebarRight').classList.add('hidden');
        }
    }
</script>
<!--Nóva-->
