<!--Nóva-->
<div class="side" id="magicSidebarRight" style="border-left: #96c3f1 1px solid">
    <div class="side-large">
        <span class="logo-punc glow">[</span>
        <span class="logo-user glow">about me</span>
        <span class="logo-punc glow">]</span>
    </div>
</div>
<script>
    const getSidebarR = window.localStorage && window.localStorage.getItem("toggleR");
    const sidebarToggleR = document.querySelector(".toggle-sidebar");
    const toggleR = document.getElementById('magicSidebarRight');
    const isSidebarR = getSidebarR === "true";

    if (getSidebarR !== null) {
        toggleR.classList.toggle("hidden", isSidebarR);
    }

    sidebarToggleR.addEventListener("click", () => {
        toggleR.classList.toggle("hidden");
        window.localStorage &&
        window.localStorage.setItem(
            "toggleR",
            toggleR.classList.contains("hidden") ? "true" : "false",
        );
    });

    function toggleSidebarLeft() {
        var toggleLeft = document.getElementById('magicSidebarLeft');

        if(toggleLeft.classList.contains('hidden')) {
            document.getElementById('magicSidebarRight').classList.remove('hidden');
        } else {
            document.getElementById('magicSidebarRight').classList.add('hidden');
        }
    }
</script>
<!--Nóva-->
