<script>
    function toggleSidebar() {
        var toggle = document.getElementById('magicSidebar');

        if(sidebar.classList.contains('hidden')) {
            document.getElementById('magicSidebar').classList.remove('hidden');
        } else {
            document.getElementById('magicSidebar').classList.add('hidden');
        }
    }
</script>
<div class="sidebar" id="magicSidebar">
    <table>
        <tr>
            <td>Key</td>
            <td>Value</td>
        </tr>
        <tr>
            <td>Key</td>
            <td>Value</td>
        </tr>
        <tr>
            <td>Key</td>
            <td>Value</td>
        </tr>
        <tr>
            <td>Key</td>
            <td>Value</td>
        </tr>
        <tr>
            <td>Key</td>
            <td>Value</td>
        </tr>
        <tr>
            <td>Key</td>
            <td>Value</td>
        </tr>
        <tr>
            <td>Key</td>
            <td>Value</td>
        </tr>

    </table>
</div>