{{ define "main" }}
  <div class="post">
    <h1 class="post-title">
      <a href="https://tools.ietf.org/html/rfc2616#section-10.4.5">
        404 fuck you
      </a>
    </h1>
    <div class="post-content">
      <p>
        {{ "you can find out more about this specific HTTP error [here](https://tools.ietf.org/html/rfc2616#section-10.4.5)"| markdownify }}
      </p>
      <p>
        recently the "src" directory was renamed to "lib"
        <br><br>
        if you expect a page... you can try clicking <a href="/src/{{ .File.BaseFileName }}">here...</a>
      </p>
    </div>
  </div>
{{ end }}
