<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 800 500">
    <defs>
        <linearGradient id="g">
            <stop offset="33.333333%" stop-color="#96c3f1"/>
            <stop offset="33.333334%" stop-color="#619d87"/>
            <stop offset="66.666666%" stop-color="#6f88a2"/>
            <stop offset="66.666667%" stop-color="#619d87"/>
            <stop offset="100%" stop-color="#96c3f1"/>
        </linearGradient>
    </defs>
    <path d="M10,490C230,490 290,10 400,10C500,10 560,490 790,490v5H10z" fill="url(#g)"/>
</svg>
